{% extends 'GuitarFeelingBundle::layout.html.twig' %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('assets/css/Homepage/index.css') }}">
{% endblock %}

{% block body %}
   <div class="container">
      <div class="row">
         <div class="col-lg-5">
            {{ include('GuitarFeelingBundle:Homepage:tutorial_carousel.html.twig') }}
         </div>
         <div class="col-lg-offset-1 col-lg-5">
            {{ include('GuitarFeelingBundle:Homepage:concert_carousel.html.twig') }}
         </div>
      </div>
   </div>
{% endblock %}

{% block javascripts %}
   <script type="text/javascript" src="{{ asset('assets/js/Homepage/index.js') }}"></script>
{% endblock %}
