{% extends 'GuitarFeelingBundle::layout.html.twig' %}

{% block body %}
   {{ include('GuitarFeelingBundle:Tutorial:overview.html.twig') }}

   <a href="{{ path('guitar_feeling_tutorials_new') }}">Create a tutorial</a>
{% endblock %}

{% block javascripts %}
   <script type="text/javascript" src="{{ asset('assets/js/Tutorial/index.js') }}"></script>
{% endblock %}
