{% extends 'GuitarFeelingBundle::layout.html.twig' %}

{% block body %}
   {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      <a href="{{ path('guitar_feeling_tutorials_new') }}">Create a tutorial</a>
   {% endif %}
   
   {{ include('GuitarFeelingBundle:Tutorial:overview.html.twig') }}
{% endblock %}

{% block javascripts %}
   <script type="text/javascript" src="{{ asset('assets/js/Tutorial/index.js') }}"></script>
{% endblock %}
