{% extends 'GuitarFeelingBundle::layout.html.twig' %}

{% block body %}

   <div class="row">
      <div id="content" class="col-md-9">
         {{ tutorial.title }}
         {{ tutorial.description }}
         {{ tutorial.category.name }}
         {{ tutorial.level.name }}
      </div>
   </div>

{% endblock %}
