<!DOCTYPE html>

<html ng-app="app">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
      {% block stylesheets %}{% endblock %}
   </head>

   <body>
      <div class="container">
         <div id="header" class="jumbotron">
            <h1>Guitar Feeling</h1>
         </div>

         {% block body %}{% endblock %}
         
         <hr>

         <footer>
            <p>Footer.</p>
         </footer>
      </div>

      <script type="text/javascript" src="{{ asset('assets/vendor/angular/angular.js') }}"></script>
      {% block javascripts %}{% endblock %}
   </body>
</html>
