<!DOCTYPE html>

<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{ asset('assets/css/star_rating.css') }}">
      <link rel="stylesheet" href="{{ asset('assets/css/text_editor_toolbar.css') }}">
      {% block stylesheets %}{% endblock %}
      <script language="JavaScript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
   </head>

   <body>
      <div class="container">
         <div id="header" class="jumbotron">
            <h1>Guitar Feeling</h1>
         </div>

         {% block body %}{% endblock %}
         
         <hr>

         <footer>
            <p>Footer.</p>
         </footer>
      </div>

      {% block javascripts %}{% endblock %}
   </body>
</html>
